#content-box{
    display: flex;
    flex-wrap: wrap;
}
#left-box{
    border: 1px solid black;
    width: 10%;
    height: 91vh;
}
img{
    width: 200px;
    height: 250px;
}
#right-box{
    border: 1px solid blueviolet;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    height: 91vh;
    overflow: scroll;
    gap: 20px;
    padding: 5px 15px;
}
#right-box div{
    margin: 15px 0px;
}
#lth,#htl,#buy,#cart{
    position: relative;
    margin: 15px 5px;
    padding: 9px 10px;
    border-radius: all 15px;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s;
}
#lth::before,#htl::before,#buy::before,#cart::before{
    position: absolute;
    content: "";
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition: transform 0.3s ease;
    transform-origin: right;
    z-index: -1;
}
#lth:hover::before,#htl:hover::before,#buy:hover::before,#cart:hover::before{
    color: antiquewhite;
    transform: scale(1);
    transform-origin: left;
}
#lth:hover,#htl:hover,#buy:hover,#cart:hover{
    color: antiquewhite;
}


#right-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 30px;
}
#right-box div{
    background-color: rgb(189, 248, 100);
    text-align: center;
    border-radius: 6px;
    padding: 15px;
}
#right-box div img{
    width:150px;
    height:200px;
    margin: auto;
    padding: 15px;
}


#right-box div h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}

#right-box div h4{
    font-weight: 900;
    margin: 5px 0px 0px;
    font-size:18px;
    color: #8231d3;
}

#right-box div h5{
    color: rgb(116, 116, 116);

}

#right-box .btns {
    display: flex;
    justify-content: space-between;
}

#right-box .btns button{
    margin: 5px;
    padding: 10px;
    background-color: #8231d3;
    color: white;
    border-radius: 6px;
    width: 50%;
    font-size: 14px;
}